.main {
  border-radius: 20px;

}

.window {
  border: 1px solid;
  border-radius: 20px;
  background-color: #252728;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  background-color: #252728;
}

#search {
  font-size: 1rem;
  border-radius: 18px;
  border: none;
  padding: 5px;
}

.sr {
  margin-left: 5px;
  cursor: pointer;
  color: aliceblue;
}

.box-btn {
  display: flex;
  justify-content: space-between;
  width: 12%;
  height: 20px;
}

.close {
  border-radius: 50%;
  background-color: red;
  width: 20px;
  cursor: pointer;
}

.min {
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #FFFF00;
}

.max {
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: green;
}

.box-body {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-height: 300px;
  background-color: #252728;
}

.box-form {
  display: flex;
  justify-content: center;
  width: 93%;
  margin: 10px;
  background-color: #cecece;
  border-radius: 8px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 100px;
  width: 55%;
}

#mail {
  padding: 8px;
  border-radius: 20px;
  font-size: 1rem;
  margin: 3px;
  border: none;
}

#passwd {
  padding: 8px;
  border-radius: 20px;
  font-size: 1rem;
  margin: 3px;
  border: none;
}

#btn {
  padding: 5px;
  border-radius: 20px;
  font-size: 1rem;
  margin: 2px;
  width: 40%;
  border: none;
  cursor: pointer;
  background-color: #07b0f3;
}

#btn:hover {
  background-color: #42c7fc;
}