h1 {
    text-align: center;
    width: 100%;
}

.reciveData01 {
    margin: 3px;
    min-height: 60px;
    border: 1px solid green;
}

.reciveData02 {
    margin: 3px;
    min-height: 60px;
    border: 1px solid green;
}

.reciveData03 {
    margin: 3px;
    min-height: 60px;
    border: 1px solid green;
}

.reciveData04 {
    margin: 3px;
    min-height: 60px;
    border: 1px solid green;
}

.erro {
    margin: 3px;
    min-height: 60px;
    border: 1px solid red;
}