main {
  background-color: rgb(45, 48, 51);
}

.header {
  background-color: rgb(48, 138, 240);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: aliceblue;
}

.resp {
  display: none;
  justify-content: center;
  padding: 8px;
}

.score {
  color: aliceblue;
}

.percent {
  color: aliceblue;
}

.form {

  background-color: rgb(45, 48, 51);
}

.bx {
  display: flex;
}

.footer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.bx {
  margin-left: 20px;
}

img {
  margin: 5px;
}

input {
  cursor: pointer;
}