@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,500&display=swap');

.main {

  border: 1px solid #79808571;
  height: 100vh auto;
  width: 65vw;
  margin-left: 15.5vw;
  box-sizing: border-box;
}


@media(max-width: 500px) {
  .main {
    width: auto;
  }
}



.title {

  border: 1px solid #79808571;
}


.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}


.A {
  cursor: pointer;
}

.B {
  cursor: pointer;
}

.form-check-label {
  font-family: 'Montserrat', sans-serif;
}



.bt {

  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 3vh;

}


.div-scores {
  overflow: hidden;
  max-height: 0;
  transition: max-height 450ms;
  pointer-events: none;
  background-color: #393f44;
}


.show {
  max-height: 25vh;
}

.h2 {

  text-align: center;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
}

.score {
  color: #0d6efd;
}