* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.format_default {
    margin: 25px;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid;
    transform: scale(1.2, 1.2);
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px 0px #131316;
}