@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


* {
  font-family: 'Salsa', cursive;
}

body {
  background-color: #181a1b;

}

.box-title {
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.box-cordenadas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.show-cordenadas {
  width: 100%;
  display: flex;
  justify-content: center;
}



.cordenadas00 {
  width: 301px;
  border-radius: 50%;
  height: 302px;
  background-color: #34383a;
  border: 1px solid blue;
}

.cordenadas {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  background-color: #34383a;
  border: 1px solid red;
}



.box-01 {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid green;*/
  height: 32.60%;
}

/* Noroeste */
.box-of-no {
  display: flex;
  align-content: end;
  border: 1px solid;
}

.no {
  border-left: 2px solid white;
  margin-top: 60px;
  height: 20px;
}

.no p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: aliceblue;
}

/* Norte */
.n {
  border-top: 2px solid;
  color: rgb(15, 218, 15);
}

/* Noredeste */
.box-of-ne {
  display: flex;
  align-content: end;
  border: 1px solid;
}

.ne {
  border-right: 2px solid white;
  margin-top: 60px;
  height: 20px;
}

.ne p {
  margin: 0;
  padding: 0;
  margin-right: 5px;
  color: aliceblue;
}



.box-02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid red;*/
  height: 32.60%;
}

/* Oeste */
.o {
  display: flex;
  align-items: center;
  border-left: 2px solid #ff7606;
  height: 13px;
}

.o p {
  margin: 0;
  padding: 0;
  color: #ff7606;
  margin-left: 12px;
}

/* Leste */
.l {
  display: flex;
  align-items: center;
  border-right: 2px solid #ffef0f;
  height: 13px;
  color: #ffef0f;
}

.l p {
  margin: 0;
  padding: 0;
  margin-right: 12px;
}




.box-03 {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid blue;*/
  height: 32.60%;
  margin-top: 6px;
}

/* Suldoeste */

.so {
  border-left: 2px solid white;
  margin-top: 20px;
  height: 20px;
}

.so p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: aliceblue;
}

/* Sul */
.s {
  border-bottom: 2px solid;
  color: rgb(252, 20, 20);
}

.s p {
  margin-top: 60px;
}

/* Suldeste */
.se {
  border-right: 2px solid white;
  margin-top: 25px;
  height: 20px;
}

.se p {
  margin: 0;
  padding: 0;
  margin-right: 5px;
  color: aliceblue;
}







.box-c1 {
  border: 0;
  background-color: #1663d6;
  width: 35px;
  padding: 5px;
  margin: 1px;
  text-align: center;
  font-size: 1.20rem;
  height: 50px;
  color: white;
}

.box-separator {
  display: flex;
  align-items: center;
  border: 0;
  background-color: #f0e115;
  height: 59px;
  margin-top: 2px;
  margin: 2px;
}

.box-c2 {
  border: 0;
  background-color: #179917;
  width: 35px;
  padding: 5px;
  margin: 1px;
  text-align: center;
  font-size: 1.20rem;
  height: 50px;
  color: white;

}

.separador {
  font-size: 2rem;
  font-weight: 800;
  padding: 0;
  margin: 0;

}