@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,500&family=Inconsolata&display=swap');

body {
  background-color: #181818;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #181818;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 8px;
}


.box-title {
  text-align: center;
  width: 100%;
}

.box-search {
  text-align: center;
  width: 100%;
}


h1 {
  color: rgb(210, 216, 221);
  font-family: 'Fira Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 93vw;

}

.body-main {
  display: none;
  flex-wrap: wrap;
  padding: 3px;
  max-height: 188px;
  overflow-y: auto;
}

.box-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: #262626;
  box-shadow: 0px 1px 1px 0px #000000;
  overflow-x: auto;
  width: 80vw;
  margin: 2px;
  height: 61px;
  margin-right: 0;
  padding: 0;
}

.box-task:hover {
  transition: 300ms ease-in-out;
  background-color: #2b2a2c;
}

p {
  margin-left: 10px;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
}

i {
  cursor: pointer;
  margin-right: 5px;
  color: rgb(168, 168, 168);
  padding: 8px;
}

i:hover {
  color: #ca3232;
  transition: 300ms ease-out;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  margin: 2px;
  margin-left: 0;
  background-color: #262626;
  box-shadow: 0px 1px 1px 0px #000000;
}

.box-add-task {
  text-align: center;
  margin-top: 8px;
  width: 100%;
}

input {
  text-align: center;
  background: #0d0d0d;
  color: rgb(224, 227, 230);
  border-radius: 3px;
  border: 0;
  width: 65vw;
  padding: 10px;
  outline: none;
  font-size: 2rem;
  box-shadow: 0px 1px 1px 0px #000000;
  font-family: 'Inconsolata', monospace;
}


.borderRed {
  border: 1px solid #ca3232;
}


/* tamanho fixo para telas grandes
  e tamanho relativo para telas pequenas
*/

@media(min-width: 700px) {

  .box-task {
    width: 600px;
  }

  .body-main {
    width: 680px;
  }

  input {
    width: 350px;
  }
}